.dropdown {
  list-style: none;
  border: 1px solid #cbd5e1;
  width: 464px;
  font-size: 14px;
  color: #64748b;
  position: absolute;
  max-height: 560px;
  overflow-y: auto;

  &__item {
    display: flex;
    padding: 12px 32px;
    align-items: center;
    height: 32px;

    &:hover {
      background-color: #f1f5f9;
    }

    &--info {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__name {
    margin: 0 auto 0 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
}
