.dropdown {
  &__clock {
    width: 18px;
    height: 18px;
  }

  &__x {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #cbd5e1;
    }

    &:focus {
      outline: none;
      background-color: #cbd5e1;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }
}
